---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Arrow from '../assets/icons/arrow.astro'

const quizzes = await Astro.glob('../quizzes/*.json')
---

<Layout title="Dev Quiz">
  <header class="flex flex-col py-16 gap-5">
    <h1
      class="text-5xl font-bold flex justify-center items-center font-JetBrainsMono"
    >
      <span class="text-bright-pink">&lt;dev</span>
      <img
        class="w-[60px] sm:w-[100px]"
        src="/favicon.svg"
        alt="Icono de la pagina"
      />
      <span class="text-light-blue">uiz&gt;</span>
    </h1>

    <p class="text-lg sm:text-xl text-center max-w-[700px] mx-auto">
      Pon a prueba tus conocimientos y descubre cuánto sabes realmente sobre tu
      tecnología favorita. <br />¡Completa un quiz ahora!
    </p>
  </header>

  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 pb-28">
    {
      quizzes.map(({ id, name, image, questions, difficulty }) => (
        <Card
          id={id}
          name={name}
          image={image}
          numQuestions={questions.length}
          difficulty={difficulty}
        />
      ))
    }
  </section>
</Layout>
