---
const { id, name, image, numQuestions } = Astro.props
---

<a href=`/quiz/${id}` title={name}>
  <article
    transition:name=`vt-${id}`
    class="px-5 py-4 rounded-xl border-2 border-cyan-900 flex items-center gap-5 cursor-pointer bg-dark-blue hover:border-cyan-500 overflow-hidden"
  >
    <figure class="w-8 min-w-8">
      <img src={image} alt="Icono" />
    </figure>
    <div class="flex flex-col">
      <h3 class="text-white">{name}</h3>
      <span class="text-xs text-gray-400">{numQuestions} preguntas</span>
    </div>
  </article>
</a>

<style>
  a {
    animation: show-card 1s both;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
  }

  @keyframes show-card {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }

    30% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
