---
const { id, name, image, numQuestions } = Astro.props
---

<a href=`/quiz/${id}` title={name}>
  <article
    transition:name=`vt-${id}`
    class="grid grid-cols-[max-content_1fr] grid-rows-2 gap-x-3 px-5 py-3 rounded-xl border-2 border-cyan-900 cursor-pointer bg-dark-blue hover:border-cyan-500"
  >
    <img class="h-8 row-span-2 self-center" src={image} alt="Icono" />
    <h3 class="text-white truncate">{name}</h3>
    <span class="text-xs text-gray-400 truncate">{numQuestions} preguntas</span>
  </article>
</a>

<style>
  a {
    animation: show-card 1s both;
    animation-timeline: view();
    animation-range: entry 0% cover 15%;
  }

  @keyframes show-card {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    20% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
