---
const { id, name, image } = Astro.props
---

<a href=`/quiz/${id}`>
  <article
    transition:name=`vt-${id}`
    class="bg-dark-blue/50 px-5 rounded-xl border border-cyan-900 flex items-center gap-5 cursor-pointer hover:bg-dark-blue h-[75px] overflow-hidden"
  >
    <figure class="w-8">
      <img src={image} alt=`"Icono de la tecnologia de ${name}` />
    </figure>

    <h3 class="text-white text-xl flex-grow">{name}</h3>
  </article>
</a>

<style>
  article {
    animation: show-card 1s both;
    animation-timeline: view();
    animation-range: entry 100% cover 25%;
    transition: scale 0.3s;
  }

  article:hover {
    scale: 1.05;
    transition: scale 100ms;
  }

  @keyframes show-card {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
