---
const { name, file, img } = Astro.props
---

<a href=`/quiz/${file}`>
  <article
    transition:name=`${file}`
    class="bg-dark-blue/50 p-5 rounded-xl border-2 border-cyan-900 flex justify-center items-center gap-5 cursor-pointer hover:bg-dark-blue"
  >
    <figure class="w-8">
      <img
        src={img}
        alt=`"Icono de la tecnologia de ${name}`
      />
    </figure>

    <h3 class="text-white text-xl">{name}</h3>
  </article>
</a>

<style>
  article {
    animation: show-card 1s both;
    animation-timeline: view();
    animation-range: entry 100% cover 25%;
    transition: scale 0.3s;
  }

  article:hover {
    scale: 1.05;
    transition: scale .1s;
  }

  @keyframes show-card {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>
